body {
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
header{
    width: 100%;
    height: 30px;
}

nav {
        padding: 20px;
        background-color: #eee;
        position: fixed;
        width: 100%;
    
}
main{
        width: 80vw;
        margin: 10vh auto;
    
}

.profile-picture {
    margin: 0px auto;
    width: 200px; /* Ajusta el ancho del contenedor */
    height: 200px; /* Ajusta la altura del contenedor */
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #000;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradiente lineal */
}

.profile-picture img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupará el 100% de la altura del contenedor */
    object-fit: cover; /* Esto asegura que la imagen no se deforme */
}


footer {
    padding: 20px;
    background: linear-gradient(to bottom, #3a1c71, #d76d77, #ffaf7b); /* Gradiente lineal */
    color: white;
    text-align: center;
}


